#chat-container {
    width: 70%;
    margin: 5rem auto;
    background: #FFF;
    border-radius: 0.8rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.19), 0 0.6rem 0.6rem rgba(0, 0, 0, 0.23);
}

#chat-header {
    background: var(--primary);
    color: #fff;
    padding: 1.5rem;
    border-radius: 0.8rem 0.8rem 0 0;
    text-align: center;
    font-size: 1.6rem;
}

#chat-messages {
    padding: 2rem;
    /* height: 55rem; */
    overflow-y: scroll;
    overflow-x: hidden;
    border-bottom: 0.1rem solid #ddd;
}

.message {
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.sender, .receiver {
    color: black;
    text-align: right;
    width: 60%;
    font-size: 1.6rem;
}

.sender {
    margin-left: 38%;
}

.sender p, .receiver p {
    font-weight: bold;
}

.sender span, .receiver span {
    font-size: 1.2rem;
}

.sender {
    background: rgb(255, 209, 217);
    
}

.receiver {
    background: #f1f1f1;
    color: #333;
    text-align: left;
}

#chat-input {
    display: flex;
    padding: 1.5rem;
    background: #fff;
    border-top: 0.1rem solid #ddd;
}

#message-input {
    flex: 1;
    padding: 1rem;
    border: 0.1rem solid #ddd;
    border-radius: 0.5rem;
}

#send-button {
    background: var(--primary);
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    margin-left: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

#send-button:hover {
    background: #0056b3;
}
