<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='_basic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
</head>
<body>
    <nav>
        <div class="logo-container">
            <!-- <img src="{{ url_for('static', filename='tinder_logo_white.png') }}" alt="Logo" class="logo"> -->
            <img src="../static/color-logo-tinder.png" alt="Something" class="logo">
        </div>
        <div class="nav-links">
            {% if current_user.username == "faseeh123" %}
            <a href="{{ url_for('admin') }}">Admin</a>
            {% endif %}
            <a href="{{ url_for('dashboard') }}">Dashboard</a>
            <a href="{{ url_for('profile') }}">Profile</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            <a href="/user/{{current_user.username}}">Me</a>
            <a href="{{ url_for('search') }}">Search</a>
        </div>
    </nav>
    <div id="chat-container">
        <div id="chat-header">
            <h2>Chat with <span id="chat-with">{{ receiver.username }}</span></h2>
        </div>
        <div id="chat-messages">
            {% for message in messages %}
                <div class="message {{ 'sender' if message.sender_id == current_user.id else 'receiver' }}">
                    <p>{{ message.message_text }}</p>
                    <span class="timestamp" data-timestamp="{{ message.timestamp }}"></span>
                </div>
            {% endfor %}
        </div>
        <div id="chat-input">
            <input type="text" id="message-input" placeholder="Type a message...">
            <button id="send-button" style="position: relative; z-index: 1;">Send</button>
        </div>
    </div>

    <script>
        const socket = io();
        const chatMessages = document.getElementById('chat-messages');
        // const currentRoom = `{{ current_user.username }}_{{ receiver.username }}`;
        const currentUserUsername = '{{ current_user.username }}';
        const receiverUsername = '{{ receiver.username }}';
        const usernames = [currentUserUsername, receiverUsername].sort();
        const currentRoom = usernames.join('_');
        socket.emit('join', { username: '{{ current_user.username }}', room: currentRoom });

        function sendMessage() {
            const messageInput = document.getElementById('message-input');
            const message = messageInput.value;
            if (message.trim() !== '') {
                console.log('Sending message:', message);
                socket.emit('send_message', {
                    username: '{{ current_user.username }}',
                    room: currentRoom,
                    message: message,
                    receiver_id: '{{ receiver.id }}'
                });
                messageInput.value = '';
            } else {
                console.log('Message is empty');
            }
        }

        socket.on('receive_message', function(data) {
            console.log('Received message:', data);
            const messageElement = document.createElement('div');
            messageElement.classList.add('message');
            if (data.sender_id === '{{ current_user.id }}') {
                messageElement.classList.add('sender');
            } else {
                messageElement.classList.add('receiver');
            }
            messageElement.innerHTML = `<p>${data.message_text}</p><span class="timestamp" data-timestamp="${data.timestamp}"></span>`;
            chatMessages.appendChild(messageElement);
            formatTimestamps();
        });

        document.getElementById('send-button').addEventListener('click', function() {
            console.log('Send button clicked');
            sendMessage();
        });

        document.getElementById('message-input').addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                sendMessage();
            }
        });

        function formatTimestamps() {
            const timestamps = document.querySelectorAll('.timestamp');
            timestamps.forEach(function(timestamp) {
                const isoString = timestamp.getAttribute('data-timestamp');
                const formattedTime = moment(isoString).format('MMMM Do YYYY, h:mm:ss a');
                timestamp.textContent = formattedTime;
            });
        }

        // Format timestamps on page load
        window.onload = function() {
            formatTimestamps();
        };
    </script>
</body>
</html>