{% extends "base.html" %}
{% block login_modal %}
<div class="auth-modal">
    <a href="/" class="btn--close">X</a>
    <h1>Login</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.email(size=30, placeholder="Email", class="form-control") }}
        {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        {{ form.password(placeholder="Password", class="form-control") }}
        {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        {{ form.submit(class="btn btn--primary") }}
    </form>
</div>

{% endblock %}