<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user.username }}'s Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='_basic.css') }}">
    <link rel="stylesheet" href="../static/user_profile.css">
</head>
<body>

<nav>
    <div class="logo-container">
        <img class="logo" src="../static/color-logo-tinder.png" alt="logo"/>
    </div>
    <div class="nav-links">
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
        <a href="{{ url_for('profile') }}">Profile</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        <a href="/user/{{current_user.username}}">Me</a>
        <a href="{{ url_for('search') }}">Search</a>
    </div>
</nav>

<section class="profile-section">
    <div class="container">
        <div class="left-content">
            <h1>Details</h1>
            {% if profile %}
                <p><strong>Username:</strong> {{ user.username }}</p>
                {% if profile.name %} <p><strong>Name:</strong> {{ profile.name }}</p> {% endif %}
                <p><strong>Email:</strong> {{ user.email }}</p>
                {% if profile.date_of_birth %} <p><strong>Date of Birth:</strong> {{ profile.date_of_birth }}</p> {% endif %}
                {% if profile.gender %} <p><strong>Gender:</strong> {{ profile.gender }}</p> {% endif %}
                {% if profile.profession %} <p><strong>Profession:</strong> {{ profile.profession }}</p> {% endif %}
                {% if profile.education_level %} <p><strong>Education Level:</strong> {{ profile.education_level }}</p> {% endif %}
                {% if profile.location %} <p><strong>Location:</strong> {{ profile.location }}</p> {% endif %}
                {% if profile.interests %} <p><strong>Interests:</strong> {{ profile.interests | join(', ') }}</p> {% endif %}
                <h3>Feedbacks</h3>
                {% if feedbacks %}
                    <ul>
                        {% for feedback in feedbacks %}
                            <li>
                                <p><strong>Rating:</strong> {{ feedback.rating }}</p>
                                <p><strong>Feedback:</strong> {{ feedback.feedback }}</p>
                                <p><strong>Date:</strong> {{ feedback.timestamp }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No feedbacks available.</p>
                {% endif %}
                {% else %}
                <p>This user has not set up a profile yet.</p>
            {% endif %}
        </div>
        <div class="right-content">
            <div class="image-container">
                <img src="../static/profile_photos/{{ user.email }}.png" onerror="this.onerror=null;this.src='../static/default_profile_photo.png';" alt="Profile Picture">
            </div>
            <h3>We are finding your match, {{ user.username }}!</h3>
            {% if profile.about_me %} <p><strong>About Me:</strong> {{ profile.about_me }}</p> {% endif %}
            <button class="btn btn--primary" onclick="window.location.href='/chat/{{user.username}}'">Message</button>
            <form method="POST" action="{{ url_for('block_user', username=user.username) }}">
                <button type="submit" class="btn btn--secondary">Block</button>
            </form>
            <h3>Rate and Provide Feedback</h3>
            <form method="POST" action="{{ url_for('rate_user', username=user.username) }}">
                <label for="rating">Rating (1-5):</label>
                <input type="number" id="rating" name="rating" min="1" max="5" required>
                <label for="feedback">Feedback:</label>
                <textarea id="feedback" name="feedback" rows="4" required></textarea>
                <button type="submit" class="btn btn--primary">Submit</button>
            </form>
           
        </div>
    </div>
</section>

</body>
</html>
